<launch>

  <arg name="safe" default="false" doc="(bool) Run in 'safe' mode."/>
  <arg name="log_level" default="info" doc="(int) Set the Orocos log level (0:none) (4:warn) (5:info) (6:debug)"/>
  <arg name="debug" default="false" doc="(bool) Launch in debug mode"/>
  <arg name="planning" default="false" doc="(bool) Launch the motion planing pipeline"/>
  <arg name="empty" default="false" doc="(bool) Launch the robot with an open palm"/>
  <arg name="hand" default="false" doc="(bool) Launch the robot with a hand"/>
  <arg name="ball" default="false" doc="(bool) Launch the robot with a ball"/>
  <arg name="bumblebee" default="false" doc="(bool) Launch the robot with a bumblebee"/>
  <arg name="deadman" default="false" doc="(bool) If true, require a deadman input to send anything other than gravity comp."/>
  <arg name="dash" default="true" doc="(bool) If true, display the barrett dashboard."/>
  <arg name="aruco" default="false" doc="(bool) True if the end-effector is an aruco target"/>

  <include unless="$(arg safe)" file="$(find rtt_ros)/launch/ldeployer.launch">
    <arg name="NAME" value="barrett"/>
    <arg name="DEPLOYER_ARGS" value="-g -s $(find lcsr_barrett)/lua/wam_hw.lua"/>
    <arg name="LOG_LEVEL" value="$(arg log_level)"/>
    <arg name="DEBUG" value="$(arg debug)"/>
  </include>

  <node
    if="$(arg safe)" 
    name="barrett"
    pkg="rtt_ros" type="ldeployer" 
    args="$(find lcsr_barrett)/lua/wam_hw.lua --"
    output="log">
  </node>

  <param name="robot_description" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/launch/hw/wam7.urdf.xacro' prefix:=wam  hand:=$(arg hand) ball:=$(arg ball) bumblebee:=$(arg bumblebee) aruco:=$(arg aruco)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"
    name="wam_state_publisher">
    <param name="publish_frequency" value="50"/>
    <remap from="joint_states" to="wam_joint_states"/>
  </node>

 <node pkg="rosbag" type="rosbag" name="rosbag_record_diag"
   args="record -j -o /tmp/wam-last.bag -e '/barrett(.*)' '(.*)joint_state(.*)' '(.*)wrench(.*)' /tf"/>   

  <group ns="barrett">
    <group ns="barrett_manager">

      <node if="$(arg dash)" pkg="rqt_barrett" type="rqt_barrett" name="rqt_barrett" required="true">
        <remap from="robot_description" to="/robot_description"/>
        <remap from="joint_states" to="wam/joint_states"/>
      </node>

      <node pkg="joint_state_publisher" type="joint_state_publisher" name="$(anon joint_state_publisher)">
        <rosparam param="source_list" subst_value="true">
          ["wam/joint_states", "hand/joint_states"]
        </rosparam>
        <param name="rate" value="50"/>
        <remap from="robot_description" to="/robot_description"/>
      </node>
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(anon robot_state_publisher)">
        <param name="publish_frequency" value="50"/>
      </node>

      <rosparam subst_value="true">
        bus_id: 0
        config_path: $(find lcsr_barrett)/config/libbarrett.conf
        
        # Auto-configuration
        auto_configure_wam: true
        auto_configure_hand: $(arg hand)
        wam_dof: 7
        wam_urdf_prefix: wam
      </rosparam>

      <group ns="wam">
        <!-- Different calibration posture for empty -->
        <!--<rosparam unless="$(arg hand)">-->
          <!--home_position: [0.0, -1.58153, 0.0, 3.1415, 0.0, -1.5708, 1.5708]-->
          <!--home_resolver_offset: [1.50023,  -0.0122718,  1.21338,  -0.63967,  1.84845,  0.716369,  2.2841]-->
        <!--</rosparam>-->

        <!-- Different calibration posture for BHand -->
        <!--<rosparam if="$(arg hand)">-->
        <rosparam>
          home_position: [0.0, -1.58153, 0.0, 3.1415, -1.5708, -1.5708, -3.0]
          home_resolver_offset: [1.18423, -1.35297,  1.29775,  -0.707165, -0.260777, -1.43274, 2.15964]
        </rosparam>

        <rosparam>
          velocity_smoothing_factor: 0.95
          velocity_cutoff: [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 1.0]
          torque_scales: [1.4, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        </rosparam>
      </group>

      <rosparam if="$(arg hand)" subst_value="true">
        hand_urdf_prefix: wam/hand
      </rosparam>
    </group>

    <!-- RTT Component parameters -->
    <include file="$(find lcsr_barrett)/launch/hw/orocos_component_params.launch">
      <arg name="ee_empty" value="$(arg empty)"/>
      <arg name="ee_ball" value="$(arg ball)"/>
      <arg name="ee_bumblebee" value="$(arg bumblebee)"/>
      <arg name="ee_hand" value="$(arg hand)"/>
    </include>
    
    <rosparam ns="effort_sum" subst_value="true">
      dim: 7
      require_heartbeat: $(arg deadman)
      heartbeat_max_period: 0.075
    </rosparam>

    <!-- Moveit -->
    <include if="$(arg planning)" file="$(find lcsr_barrett)/sim/wam7_planning.launch">
      <arg name="joint_states_topic" value="barrett_manager/joint_states"/>
      <arg name="ee_empty" value="$(arg empty)"/>
      <arg name="ee_hand" value="$(arg hand)"/>
      <arg name="ee_ball" value="$(arg ball)"/>
    </include>
  </group>

  <!-- deadman safety control, to be used with a wiimote -->
  <!-- trigger is momentary deadman, zombie mode is the 3-button sequence: minus, home, plus -->
  <node if="$(arg deadman)" pkg="lcsr_controllers" type="heartbeat_mux.py" name="heartbeat_mux" output="screen">
    <remap from="heartbeats" to="/effort_sum/heartbeats"/>
    <rosparam>
      buttons: [3]
      zombie_sequence: [5,10,4]
    </rosparam>
  </node>

  <param name="stage_model" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/models/stage.urdf.xacro'" />
  <!--<node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" -->
    <!--args="-urdf -model stage -param stage_model"/>-->
  <node name="stage_pose_broadcaster" pkg="tf" type="static_transform_publisher"
    args="0 0 0 0 0 0 /world /stage_link 50"/>

</launch>
