<launch>
<!--
   - This launchfile brings up a single 7-DOF WAM robot in the gazebo simulator.
   - run with `rviz __ns:=gazebo`
   -
   - rostopic pub /gazebo/barrett_manager/hand/cmd oro_barrett_msgs/BHandCmd "{ mode: [3,3,3,3], cmd: [2.5,2.5,2.5,0.0] }"
   - rostopic pub -r 1 /gazebo/rml_traj/joint_traj_point_cmd trajectory_msgs/JointTrajectoryPoint "{ positions: [0.0,0,0,0.0,0,0,0.0] }"
   -->

  <arg name="log_level" default="5" doc="(int) Set the Orocos log level (0:none) (4:warn) (5:info) (6:debug)"/>
  <arg name="debug" default="false" doc="(bool) Launch in debug mode"/>
  <arg name="gui" default="true" doc="(bool) Launch the gazebo GUI"/>
  <arg name="planning" default="false" doc="(bool) Launch the motion planing pipeline"/>
  <arg name="hand" default="true" doc="(bool) Launch the robot with a hand"/>

  <!-- Gazebo -->
  <include file="$(find rtt_gazebo_examples)/test/empty_world.launch">
    <env name="ORO_LOGLEVEL" value="$(arg log_level)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="world_name" value="$(find lcsr_barrett)/sim/wam.world"/>
  </include>

  <!-- Load WAM URDF -->
  <param name="robot_description" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/sim/wam7_sim.urdf.xacro' ops_script:='$(find lcsr_barrett)/sim/wam7_sim.ops' hand:=$(arg hand)" />

  <!-- Spawn the robot in Gazebo -->
  <node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model wam -param robot_description"/>

  <!-- Spawn the lcsr stage in Gazebo -->
  <param name="stage_model" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/models/stage.urdf.xacro'" />
  <node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model stage -param stage_model"/>
  <node name="stage_pose_broadcaster" pkg="tf" type="static_transform_publisher"
    args="0 0 0 0 0 0 /world /stage_link 50"/>

  <!-- Create nodes in gazebo namespace -->
  <group ns="gazebo">
    <!-- Barrett parameters -->
    <rosparam ns="barrett_manager">
      wam:
        velocity_smoothing_factor: 0.95
        home_position: [0.0, -1.5708, 0.0, 3.1415, 0.0, -1.5708, 1.5708]
    </rosparam>

    <!-- Aggregate wam and hand joint states -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="$(anon joint_state_publisher)">
      <rosparam param="source_list">["barrett_manager/wam/joint_states", "barrett_manager/hand/joint_states"]</rosparam>
      <param name="rate" value="50"/>
      <remap from="robot_description" to="/robot_description"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(anon robot_state_publisher)">
      <param name="publish_frequency" value="50"/>
    </node>

    <!-- RTT Component parameters -->
    <include file="$(find lcsr_barrett)/sim/orocos_component_params.launch"/>
      
    <!-- Moveit -->
    <include if="$(arg planning)" file="$(find lcsr_barrett)/sim/planning.launch"/>
  </group>
</launch>
