<launch>
  <!--
    This launchfile brings up a single 7-DOF WAM robot in the gazebo simulator.
    -->
  <arg name="log_level" default="debug" description="Set the Orocos log level"/>
  <arg name="debug" default="false" description="(bool) Launch in debug mode"/>
  <arg name="gui" default="true" description="(bool) Launch the gazebo GUI"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find rtt_gazebo_examples)/test/empty_world.launch">
    <!--<arg name="world_name" value="$(find rtt_gazebo_world)/worlds/rtt_gazebo.world"/>-->
    <env name="RTT_LOG_LEVEL" value="$(arg log_level)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="world_name" value="$(find lcsr_barrett)/sim/wam.world"/>
  </include>

  <!-- Load WAM URDF -->
  <param name="robot_description" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/sim/wam7_sim.urdf.xacro' ops_script:=$(find lcsr_barrett)/sim/wam7_sim_ik.ops" />

  <!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
  <node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model wam -param robot_description"/>

  <param name="stage_model" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/models/stage.urdf.xacro'" />
  <node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model stage -param stage_model"/>

  <!-- Create nodes in gazebo namespace -->
  <group ns="gazebo">

    <!-- Publish TF frames for the WAM -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="wam_state_publisher">
      <param name="publish_frequency" value="50"/>
      <remap from="joint_states" to="wam/joint_state"/>
    </node>

    <!-- RTT Component parameters -->
    <rosparam subst_value="true">
      barrett_manager:
        wam:
          velocity_smoothing_factor: 0.95
          home_position: [0.0, -1.5708, 0.0, 3.1415, 0.0, -1.5708, 1.5708]
      wam_effort_sum:
        dim: 7
        require_heartbeat: false
      man_pid:
        root_link: wam/base_link
        tip_link: wam/wrist_palm_link
        p_gains: [300.0, 300.0, 300.0, 300.0, 1.0, 1.0, 0.2]
        d_gains: [45.0, 45.0, 45.0, 45.0, 1.5, 1.5, 1.5]
      man_traj:
        root_link: wam/base_link
        tip_link: wam/wrist_palm_link
        trap_max_vels: [0.2, 0.4, 1.5, 0.8, 4.0, 4.0, 8.0]
        trap_max_accs: [0.02, 0.06, 0.06, 0.04, 0.06, 0.06, 0.06]
        position_tolerance: [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
        velocity_tolerance: [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
      rml_traj:
        root_link: wam/base_link
        tip_link: wam/wrist_palm_link
        sampling_resolution: 0.005
        max_velocities: [0.2, 0.4, 1.0, 0.8, 1.0, 1.0, 1.0]
        max_accelerations: [0.5, 0.5, 0.5, 0.5, 2.5, 2.5, 2.5]
        max_jerks: [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
        position_tolerance: [0.02, 0.02, 0.02, 0.02, 0.05, 0.05, 0.05]
        velocity_tolerance: [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1.5]
      inverse_dynamics:
        root_link: wam/base_link
        tip_link: wam/wrist_palm_link
        end_effector_frame_link: wam/wrist_palm_link
        gravity: [-9.8, 0.0, 0.0]
      jtns:
        root_link: wam/base_link
        tip_link: wam/wrist_palm_link
        linear_p_gain: 300.0
        linear_d_gain: 30.0
        angular_p_gain: 5.0
        angular_d_gain: 0.1
        linear_effort_threshold: 50.0
        linear_position_threshold: 0.075
        angular_effort_threshold: 5.0
        angular_position_threshold: 0.5
        joint_d_gains: [3.0, 3.0, 2.0, 2.0, 0.5, 0.5, 0.08]
    </rosparam>
  </group>
</launch>
