<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wam">

  <!-- Gazebo Plugin -->
  <gazebo>
    <plugin name="rtt_gazebo" filename="librtt_gazebo_deployer.so">
      <component>
        <package>oro_barrett_sim</package>
        <type>oro_barrett_sim::BarrettSimManager</type>
        <name>barrett_manager</name>
      </component>
      <orocosScript><filename>$(arg ops_script)</filename></orocosScript>
      <!--
         -<orocosScript>
         -  <inline>
         -    barrett_manager.wam.initialize();
         -    barrett_manager.wam.run();
         -  </inline>
         -</orocosScript>
         -->
       <xacro:if value="$(arg hand)">
         <orocosScript><filename>$(find lcsr_barrett)/sim/bhand_sim.ops</filename></orocosScript>
         <!--
           -<orocosScript>
           -  <inline>
           -    load_hand("");
           -    barrett_manager.hand.initialize();
           -    barrett_manager.hand.run();
           -  </inline>
           -</orocosScript>
           -->
      </xacro:if>
    </plugin>
  </gazebo>

  <!-- Includea all the WAM stuff -->
  <xacro:include filename="$(find barrett_model)/models/wam_top.urdf.xacro"/>

  <!-- Root link is in the world frame-->
  <link name="world"/>

  <xacro:wam_7dof prefix="$(arg prefix)" parent_link="world" xyz="0.04 0.46 0.7" rpy="${PI} ${-PI/2} 0"/>
  <xacro:if value="$(arg hand)">
    <xacro:bhand prefix="$(arg prefix)/hand" parent_link="$(arg prefix)/wrist_palm_link" xyz="0.0 0.0 0.06" rpy="0 0 0"/>
  </xacro:if>
  <xacro:if value="$(arg ball)">
    <xacro:bball prefix="$(arg prefix)/ball" parent_link="$(arg prefix)/wrist_palm_link" xyz="0.0 0.0 0.06" rpy="0 0 0"/>
  </xacro:if>

</robot>

