<launch>

  <arg name="log_level" default="info" doc="(int) Set the Orocos log level (0:none) (4:warn) (5:info) (6:debug)"/>
  <arg name="debug" default="false" doc="(bool) Launch in debug mode"/>
  <arg name="gui" default="true" doc="(bool) Launch the gazebo GUI"/>
  <arg name="planning" default="false" doc="(bool) Launch the motion planing pipeline"/>
  <arg name="hand" default="false" doc="(bool) Launch the robot with a hand"/>
  <arg name="ball" default="false" doc="(bool) Launch the robot with a ball"/>
  <arg name="initial_group" default="joint_control" doc="(string) Initial active controller group"/>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="barrett"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find lcsr_barrett)/hw/wam7.ops"/>
    <arg name="LOG_LEVEL" value="$(arg log_level)"/>
    <arg name="DEBUG" value="$(arg debug)"/>
  </include>

  <param name="robot_description" 
    command="$(find xacro)/xacro.py '$(find lcsr_barrett)/hw/wam7.urdf.xacro' prefix:=wam  hand:=$(arg hand) ball:=$(arg ball)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"
    name="wam_state_publisher">
    <param name="publish_frequency" value="50"/>
    <remap from="joint_states" to="wam_joint_states"/>
  </node>

  <group ns="barrett">
    <group ns="barrett_manager">
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" value="50"/>
        <remap from="joint_states" to="wam/joint_states"/>
      </node>

      <rosparam subst_value="true">
        bus_id: 0
        config_path: $(find lcsr_barrett)/config/libbarrett.conf
        
        # Auto-configuration
        auto_configure_wam: true
        wam_dof: 7
        wam_urdf_prefix: wam

        # WAM Parameters
        wam:
          home_position: [0.0, -1.5708, 0.0, 3.1415, 0.0, -1.5708, 1.5708]
          home_resolver_offset: [0.34668, -1.75027, 0.75932, -1.58307, 0.75932, 1.00936, 0.796136]
          velocity_smoothing_factor: 0.98
          velocity_cutoff: [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 1.0]
      </rosparam>
    </group>

    <rosparam ns="effort_sum" subst_value="true">
      dim: 7
      require_heartbeat: false
    </rosparam>

    <!-- RTT Component parameters -->
    <include file="$(find lcsr_barrett)/hw/orocos_component_params.launch">
      <arg name="ee_empty" value="true"/>
    </include>

  </group>
</launch>
